Django
Flask
pymongo
Beaker
requests
passlib
pwdlib[argon2,bcrypt]
mongoengine
pyotp
urllib3
virtualenv
SQLAlchemy
PyQRCode
pypng
geopy
MechanicalSoup
pandas
matplotlib
seaborn
jupyterlab
pylint
pyjwt
cryptography

fastapi
uvicorn
pyinstaller
pyarmor
